*
*.swp
.netrwhist
*-x86_64-linux
*.errors
*.hi
*.o
*.elc

!.Xresources
!.emacs
!.emacs.d/
!.fonts.conf
!.git/
!.gitignore
!.gvimrc
!.gvimrc-darwin
!.minttyrc
!.misc/
!.screenrc
!.tmux.conf
!.vim/
!.vimrc
!.xinitrc
!.xmonad/
!.zshrc
!vimrc-win64
