/*/
/*
*.swp
.netrwhist
*-x86_64-linux
*.errors
*.hi
*.o
*.elc
*~

ac-comphist.dat

!.Xresources
!.emacs
!.emacs.d/
!.fonts.conf
!.git/
!.gitignore
!.gitmodules
!.gvimrc
!.gvimrc-darwin
!.minttyrc
!.misc/
!.screenrc
!.startxwinrc
!.tmux.conf
!.vim/
!.vimrc
!.xinitrc
!.xmonad/
!.zshrc
