XTerm*termName: xterm-256color
XTerm*saveLines: 1024
XTerm*font: 6x10
XTerm*boldFont: 6x10
XTerm*boldMode: false
XTerm*titeInhibit: true

XTerm*background: #000000
XTerm*foreground: #c2c2c2

XTerm*color0:    #000000
XTerm*color1:    #C23F2C
XTerm*color2:    #7DC22C
XTerm*color3:    #C2BF2D
XTerm*color4:    #2D7EC2
XTerm*color5:    #C02DC2
XTerm*color6:    #2D31C2
XTerm*color7:    #c2c2c2

XTerm*color8:    #747474
XTerm*color9:    #f99286
XTerm*color10:    #c3f786
XTerm*color11:    #fcfbcc
XTerm*color12:    #b6defb
XTerm*color13:    #fba1fb
XTerm*color14:    #d7d9fc
XTerm*color15:    #f2f2f2

XTerm*metaSendsEscape: true
XTerm*utf8: 1
XTerm*toolBar: false
